<section id="header">

  <div class="max-w">
    <div class="top-menu">
      <div class="name-title-container">
        <h2 class="myname">Ricardo Lara</h2>
        <div class="line-under-name"></div>
        <h2 class="whatido">Web Developer & Designer</h2>
      </div>

      <div class="menu-labels">
        <ul>
          <li><a href="#header">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Works</a></li>
        </ul>
      </div>

      <div class="menu-icon">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
    </div>



    <!-- <h1 class="lara-logo">Lara</h1> -->
    <div class="logo-img"> {% include logo.html %} </div>


    <p class="intro-text">
      We all now what <span class="red-text">passion</span> can do. <br> My passion is to <span class="red-text">help</span> you,<br> to do <span class="red-text">more</span>, to be the <span class="red-text">best</span> they could possibly be.
    </p>

    <div class="buttons-wrap">
      <div class="button-white">Contact me</div>
      <div class="button-red">Read more</div>
    </div>

    <!-- <img src="https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-08-128.png" alt=""> -->
    <img class="icon-arrow icon-arrow-down" src="http://nlitenmusic.neocities.org/nliten-music/images/white-arrow-down.png" alt="">
  </div>
</section>
